# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Java package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Android files
/Android/nbproject/private/
/Android/build/

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# Maven build directories
/target/

# Gradle build directories
/build/
/Android/dist/
